fastapi[standard]
uvicorn[standard]
python-dotenv
sqlalchemy
alembic
cryptography
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2-binary
pyotp>=2.9,<3.0
redis>=5.0.0 

ntplib>=0.4.0